[Unit]
Description=Temp Mail frontend
Documentation=https://github.com/me2r036/temp-mail
StartLimitIntervalSec=60s
StartLimitBurst=5

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/temp-mail/web
EnvironmentFile=/home/ubuntu/temp-mail/web/.env
Environment=NODE_ENV=production
ExecStart=/usr/bin/env bun server.ts
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
